body {
    margin: 0;
    background: black;
}

h1 {
    font-family: 'Montserrat', sans-serif;

    font-size: 100px;
    line-height: 1.6;
    color: white;
    margin-bottom: 50px;
    margin-left: 20px;
    background: black;
    margin: 30px;
    margin-top: 60px;
}

.radios {
    font-family: 'Montserrat', sans-serif;

    font-size: 50px;
    line-height: 1.6;
    color: white;
    background: black;
    margin: 6px;
}

.img1{
    width: 260px; 
    height: 260px;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px;
}

.img2{
    width: 260px; 
    height: 260px;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px;
}

.img3{
    width: 260px; 
    height: 260px;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px;
}

.img4{
    width: 260px; 
    height: 260px;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px;
}

.img5{
    width: 260px; 
    height: 260px;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px;
}

.img6{
    width: 260px; 
    height: 260px;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px;
}

.img7{
    width: 260px; 
    height: 260px;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px;
}

.img8{
    width: 260px; 
    height: 260px;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px;
}

.img9{
    width: 260px; 
    height: 260px;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px;
}

.img10{
    width: 260px; 
    height: 260px;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px;
}

.img11{
    width: 260px; 
    height: 260px;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px;
}

.img12{
    width: 260px; 
    height: 260px;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 20px;
}
