body {
    margin: 0;
    background: black;
}

.back {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-left: 50px;
}

h1 {
    font-family: 'Montserrat', sans-serif;

    font-size: 50px;
    line-height: 1.6;
    color: white;
    margin-top: 50px;
    margin-left: 180px;
    background: black;
}

.img {
    margin-left: 185px;
    border-radius: 20px;
}

button{
	width: 150px;
    height: 150px;
	background: black;
	border-radius: 200px;
	border:0px;
    margin-top: 200px;
    margin-left: 390px;
}

.site {
    position:absolute;bottom:200px;
    margin-left: 20px;
}