body {
    margin: 0;
    background: black;
}

.back {
    width: 100px;
    height: 100px;
    margin-top: 50px;
    margin-left: 50px;
}

h1 {
    font-family: 'Montserrat', sans-serif;

    font-size: 50px;
    line-height: 1.6;
    color: white;
    margin-top: 50px;
    margin-left: 180px;
    background: black;
}

.img {
    margin-left: 185px;
    border-radius: 20px;
}

button{

	padding: 10px 25px;
	font-size: 100px;
	line-height: 60px;
	min-width: 300px;
	text-align: center;
	background: black;
	color: #fff;
	border-radius: 5px;
	border:0px;
	height: 100px;
    margin-top: 200px;
    margin-left: 310px;
}

.site {
    position:absolute;bottom:200px;
    margin-left: 20px;
}